# Git files
.git
.gitignore

# Local binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
goshort_binary

# Docker files
Dockerfile
docker-compose.yml

# IDE settings
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
