stages:
  - quality
  - security
  - test
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  TAG_COMMIT: $CI_COMMIT_SHORT_SHA
  TAG_LATEST: latest
  ACTIVE_FILE: "/etc/nginx/upstreams/goshort_active.conf"

# ---------------------------------------------------------
# Lint
# ---------------------------------------------------------
lint_code:
  stage: quality
  image: golangci/golangci-lint:v1.61.0
  tags: [vps-runner]
  script:
    - golangci-lint run --timeout 10m --verbose

# ---------------------------------------------------------
# Security
# ---------------------------------------------------------
security_scan:
  stage: security
  image: golang:1.24
  tags: [vps-runner]
  before_script:
    - go install github.com/securego/gosec/v2/cmd/gosec@latest
  script:
    - $(go env GOPATH)/bin/gosec -severity medium ./...

# ---------------------------------------------------------
# Tests
# ---------------------------------------------------------
unit_test:
  stage: test
  image: golang:1.24
  script:
    - go test -v -cover ./...

# ---------------------------------------------------------
# Build + Push
# ---------------------------------------------------------
build_push_docker:
  stage: build
  image: docker:24-cli
  tags: [vps-runner]
  services:
    - name: docker:24-dind
      command: ["--tls=false"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t $IMAGE_NAME:$TAG_COMMIT -t $IMAGE_NAME:$TAG_LATEST .
    - docker push $IMAGE_NAME:$TAG_COMMIT
    - docker push $IMAGE_NAME:$TAG_LATEST
  only:
    - main
    - develop

# ---------------------------------------------------------
# Zero Downtime Deploy (Blue-Green)
# ---------------------------------------------------------
deploy_prod:
  stage: deploy
  image: alpine:3.22.2
  tags: [vps-runner]

  variables:
    SSH_PORT: "8787"

  before_script:
    - apk add --no-cache openssh-client curl bash
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | ssh-add -
    - mkdir -p ~/.ssh
    - ssh-keyscan -p "$SSH_PORT" -H "$SERVER_IP" >> ~/.ssh/known_hosts

  script:
    - |-
      ssh -p "$SSH_PORT" kagnite@"$SERVER_IP" << 'EOF'
      set -e

      ACTIVE=$(basename $(grep -o "808." /etc/nginx/upstreams/goshort_active.conf))

      if [ "$ACTIVE" = "8080" ]; then
          NEW_PORT=8081
          NEW_COLOR=green
      else
          NEW_PORT=8080
          NEW_COLOR=blue
      fi

      docker pull "$IMAGE_NAME:$TAG_LATEST"

      docker stop goshort_$NEW_COLOR || true
      docker rm goshort_$NEW_COLOR || true

      docker run -d \
        --name goshort_$NEW_COLOR \
        --restart always \
        -p 127.0.0.1:$NEW_PORT:8080 \
        --health-cmd='curl -f http://localhost:8080/ || exit 1' \
        --health-interval=5s \
        --health-timeout=3s \
        --health-retries=5 \
        "$IMAGE_NAME:$TAG_LATEST"

      echo "Testing health..."
      for i in 1 2 3 4 5 6; do
        if curl --fail --silent --max-time 3 http://localhost:$NEW_PORT/ > /dev/null; then
          echo "Healthy OK"
          break
        fi
        sleep 3
      done

      echo "Switching NGINX..."
      echo "server 127.0.0.1:$NEW_PORT;" | sudo tee /etc/nginx/upstreams/goshort_active.conf

      sudo systemctl reload nginx

      echo "Deployment done"
      << EOF

  environment:
    name: production
    url: https://kagnite.duckdns.org
  only:
    - main
