auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
      

schema_config:
  configs:
    - from: 2024-01-01
      store: filesystem
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

chunk_store_config:
  max_look_back_period: 0s